@charset "UTF-8";
@font-face
{
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body
{
    margin: 0px;
    background-color: #84E1AD;
}
header
{
    background-image: linear-gradient(#3CDB83, #3E815C);
    padding: 10px;

    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.336);
    text-align: center;
}
header>h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header>h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1em;
}
header>nav
{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header>nav>a
{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
main
{
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: 0px auto;

    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.356);
}
main>article>h1
{
    font-family: idroid;
    font-size: 2em;
    color: #195C38;
}
main>article>h2
{
    background-image: linear-gradient(90deg, #84e1acc4, #84e1ac00);
    font-family: idroid;
    font-size: 1.5em;
    color: #195C38;
}
main>article>p
{
    font-family: Arial, Helvetica, sans-serif;
}